 
 body{ 
  background: #E5E5E5;

   background-image:
   url("s.png.png");
   background-size: 800px 600px;
   background-repeat: no-repeat;
   background-position: center;
   margin-left: 10px;
   margin-top: 100px;

  }
  
  .container {
  width: 200px;
  height: 450px;
  margin: 80px auto;
  border-radius: 10px;
  background-color: #F0F0F3;
  
  /* box-shadow is used to achieve Neumorphism
  by using a light shadow and a dark shadow*/
  box-shadow: 5px 5px 10px  #F0F0F3;

  }
  
  .calc {
      display: flex;

      width: 200px;
      margin: 20px auto;
  
  }
  
  #display {
  border: black;
  outline: black;
  color: #F0F0F3;
  text-align: right;
  font-weight: 550;
  padding: 15px;
  margin: 30px 0 20px 0;
  background: #2E2C2C;
  height: 100px;
  
  /* Inset shadow gives the appearance that
      the element is being pressed into it.*/
  box-shadow: inset 2px 2px 5px #babecc,
      inset -5px -5px 10px #ffffff;
  }
  
  .button {
  margin: 15px 0 0 5px;
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  background-color:#f0f0f3;
  
  /* box-shadow is used to achieve Neumorphism
  by using a light shadow and a dark shadow */
  box-shadow: 5px 5px 10px #b6acac,
      -5px -5px 10px #faf4f4;
  display: inline-block;
  }
  
  .button:active {
  
  /* When the button is pressed, the inset
  shadow provides the impression that the
  element is being pressed into it */
  box-shadow: inset 1px 1px 2px #babecc,
      inset -1px -1px 2px #fff;
  }
  
  .zerobutton {
  color: #728AB7;
  background-color: #F0F0F3;
  width: 93px;
  }
  
  .mathbutton {
  color:#728AB7;
  background-color:#F0F0F3;
  }
   
 .nullbutton{
     color: #728AB7;
     background-color: #F0F0F3;

 }

 .equalbutton{
  color: #F0F0F3; 
  
  background-color: #2DD3C5; 
 }
 
 .callbutton{
   color: #898989;
 }